<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload image</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-header">Upload image</div>
    
    <div class="layui-card-body">
        <div class="layui-upload">
            <div class="layui-upload-drag" id="uploadbtn" style="width: 94%">
                <i class="layui-icon layui-icon-upload"></i>
                <p>Drop the file here</p>
            </div>
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo1">
                <div id="tag" style="font-size: 18px;margin-top: 10px"></div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery.min.js" charset="utf-8"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('upload', function () {
        var upload = layui.upload;

        var uploadInst = upload.render({
            elem: '#uploadbtn'
            , url: "{% url 'picture:upload_image' %}"
            // , before: function (obj) {
            //     
            //     obj.preview(function (index, file, result) {
            //         $('#demo1').attr('src', result);
            //     });

            // }
            , done: function (res) {
               
                //alert(JSON.stringify(res.data.src))
               
                if (res.code > 0) {
                    return layer.msg('Failed');
                }
                layer.msg('Done');
                window.location.href="/picture/image_list/"



            }
            , error: function () {
                
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    })
</script>
</body>
</html>